---
import Experience from "../components/Experience.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
import Skills from "../components/Skills.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Portfolio de Sebastian Albornoz
---

<Layout>
  <Header />
  <main class="pt-28"> <!-- Compensa el header y da aire a la foto -->
    <Welcome />
    <Line />
    <Skills />
    <Experience />
  </main>
  <Footer />
</Layout>
