---
const skills = [
  "Html",
  "Css",
  "Javascript",
  "Typescript",
  "React Js",
  "Next Js",
  "Vue Js",
  "Astro",
  "Nest Js",
  "Tailwind Css",
  "Material UI",
  "Styled Components",
  "Vitest",
  "Testing-Library",
  "Cypress",
];
---

<div class="text-center mx-10 sm:mx-24">
  <h2 class="text-3xl my-10">My skills</h2>
  <div class="flex justify-around flex-wrap sm:max-w-200 sm:m-auto">
    {
      skills.map((skill) => {
        return <div 
        class="cursor-pointer font-bold border-2 p-2 rounded-md m-2 transition-all hover:bg-violet-800 hover:text-black hover:border-0">{skill}</div>;
      })
    }
  </div>
</div>
