<!doctype html>
<html lang="en" class="scroll-smooth font-sans text-gray-900 bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primare Meta Tags -->
    <title>Sebastian Albornoz | Software Developer</title>
    <meta name="title" content="Sebastian Albornoz | Software Developer" />
    <meta name="description" content="Portfolio of Sebastian Albornoz, a Frontend Web Developer specializing in React, Astro, and TailwindCss. Building fast and interactive digital experiences." />

    <!-- Open Graph / LinkedIn / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://seba.dev/" />
    <meta property="og:title" content="Sebastian Albornoz | Software Developer" />
    <meta property="og:description" content="Portfolio of Sebastian Albornoz, a Frontend Web Developer specializing in React, Astro, and TailwindCss. Building fast and interactive digital experiences." />
    <meta property="og:image" content="/CH-PHOTO.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
